
@font-face {
    font-family: vice;
    src: url("../src/fonts/vice.otf");
}

body{
    text-align: center;
    font-family: vice;
    background: #d4dadc;
}

h2{
    margin-bottom: 30px;
    font-size: 24px;
}

h3{
    margin-top: 13px;
    font-size: 22px;
}

.container{
    width: 800px;
}


.cel{
    margin: 14px;
    padding: 20px;
    background: white;
    border-radius: 20px;
    height: 90px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cel:hover{
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.activity_icon{
    width: 50px;
    height:50px;
    border-radius: 100px;
    float: left;
}

#searchbar{
    padding: 15px;
    border-radius: 30px;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    outline: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    text-align: center;
}

.localisation{
    float: right;
    font-size: 12px;
    margin-right: 5px;
}

.localisation_icon{
    width:9px;
    height:9px;
    float: right;
    margin-top: 3px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .container {
        width: 500px;
    }
    h3{
        font-size: 21px;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .container {
        width: 300px;
    }

    h2{
        font-size: 18px;
    }

    h3{
        font-size: 15px;
        margin-top: 17px;
    }

    .activity_icon{
        width: 40px;
        height:40px;
    }

    #searchbar{
        width: 220px;
        padding: 15px;

    }

    .localisation{
        font-size: 9px;
    }

    .localisation_icon{
        width:7px;
        height:7px;
    }
}